backend/__pycache__/
backend/venv/
backend/.env

.DS_Store
frontend/*.iml
frontend/.gradle
frontend/local.properties
frontend/.idea/caches
frontend/.idea/libraries
frontend/.idea/modules.xml
frontend/.idea/workspace.xml
frontend/.idea/navEditor.xml
frontend/.idea/assetWizardSettings.xml
.DS_Store
frontend/build
frontend/captures
frontend/.externalNativeBuild
frontend/.cxx
frontend/local.properties
